body {
    background-color: black;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem
}
h1 {
    font-weight: 700;
    font-size: 3rem
}


h3 {
    font-size: 1.4rem;
    margin-top: 5rem
}